*,
:after,
:before {
    box-sizing: border-box
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block
}

body {
    font-family: -apple-system, BlinkMacSystemFont, HK Grotesk, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0!important
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem
}

p {
    margin-top: 0;
    margin-bottom: 1rem
}

abbr[data-original-title],
abbr[title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    text-decoration-skip-ink: none
}

address {
    font-style: normal;
    line-height: inherit
}

address,
dl,
ol,
ul {
    margin-bottom: 1rem
}

dl,
ol,
ul {
    margin-top: 0
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0
}

dt {
    font-weight: 700
}

dd {
    margin-bottom: .5rem;
    margin-left: 0
}

blockquote {
    margin: 0 0 1rem
}

b,
strong {
    font-weight: bolder
}

small {
    font-size: 80%
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent
}

a:hover {
    color: #0056b3;
    text-decoration: underline
}

a:not([href]),
a:not([href]):hover {
    color: inherit;
    text-decoration: none
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 1em
}

pre {
    margin-top: 0;
    margin-bottom: 1rem;
    overflow: auto
}

figure {
    margin: 0 0 1rem
}

img {
    border-style: none
}

img,
svg {
    vertical-align: middle
}

svg {
    overflow: hidden
}

table {
    border-collapse: collapse
}

caption {
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #6c757d;
    text-align: left;
    caption-side: bottom
}

th {
    text-align: inherit
}

label {
    display: inline-block;
    margin-bottom: .5rem
}

button {
    border-radius: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

select {
    word-wrap: normal
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0;
    border-style: none
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=date],
input[type=datetime-local],
input[type=month],
input[type=time] {
    -webkit-appearance: listbox
}

textarea {
    overflow: auto;
    resize: vertical
}

fieldset {
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    line-height: inherit;
    color: inherit;
    white-space: normal
}

progress {
    vertical-align: baseline
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    outline-offset: -2px;
    -webkit-appearance: none
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    font: inherit;
    -webkit-appearance: button
}

output {
    display: inline-block
}

summary {
    display: list-item;
    cursor: pointer
}

template {
    display: none
}

[hidden] {
    display: none!important
}

*,
:after,
:before {
    box-sizing: inherit;
    outline: none
}

html {
    box-sizing: border-box;
    font-family: HK Grotesk, sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5
}

body {
    padding: 0;
    margin: 0
}

button:focus {
    outline: none
}

._2OC50 {
    width: 100%;
    padding: 1.5rem 3rem;
    border-bottom-width: .1rem;
    border-bottom-style: solid
}

[skinmode=dark] ._2OC50 {
    border-bottom-color: #2a2a2a
}

[skinmode=light] ._2OC50 {
    border-bottom-color: #dae6f1
}

[skinmode=dark] ._2OC50 {
    background-color: #1e1e1e
}

[skinmode=light] ._2OC50 {
    background-color: #fff
}

._2OC50 ._1K3Q2 {
    max-width: 114rem;
    margin: 0 auto
}

._2K0Z7 {
    max-width: 101.7rem;
    background-color: #fff;
    font-family: HK Grotesk, sans-serif;
    line-height: 1.33
}

._2K0Z7,
.XItHx {
    width: 100%;
    margin: 0 auto
}

.XItHx {
    position: relative;
    min-height: .1rem;
    box-sizing: border-box;
    padding-right: 1rem;
    padding-left: 1rem
}

@media (min-width:768px) {
    .XItHx {
        max-width: 102.2rem;
        padding-right: 1.4rem;
        padding-left: 1.4rem
    }
}

@media (min-width:1140px) {
    .XItHx {
        max-width: 117.4rem;
        padding-right: 1.7rem;
        padding-left: 1.7rem
    }
}

._25MwN {
    padding: 13rem 3rem 0;
    margin-top: 13.4rem;
    background-image: url(/content/error-404-263@1_25x.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 10rem auto;
    text-align: center
}

@media (-webkit-min-device-pixel-ratio:1.5) and (min-resolution:1440dpi) {
    ._25MwN {
        background-image: url(/content/error-404-263@2x.jpg)
    }
}

@media (min-width:768px) {
    ._25MwN {
        padding: 0 5% 0 45%;
        background-position: left 6rem top;
        background-size: auto 80%;
        text-align: left
    }
}

@media (min-width:1140px) {
    ._25MwN {
        padding: 0 7% 0 36%;
        background-position: left 11rem top;
        background-size: auto 100%
    }
}

@media (min-width:1500px) {
    ._25MwN {
        padding: 0 0 0 33%;
        background-position: left 11rem top;
        background-size: auto 100%
    }
}

@media (min-width:1920px) {
    ._25MwN {
        padding: 0 0 0 30%
    }
}

._3kpQs {
    padding: 0;
    margin: 0;
    color: #838fa0;
    font-size: 1.6rem
}

.DgZgJ {
    color: #233143;
    font-size: 1.8rem
}

@media (min-width:768px) {
    ._2SHSn {
        max-width: 50rem
    }
}

._3B9H_ {
    padding: 0;
    margin: 0;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.25
}

@media (min-width:768px) {
    ._3B9H_ {
        font-size: 4.4rem
    }
}

._1P-qU {
    width: 100%;
    height: 5.2rem;
    padding: 1.5rem 2.5rem 1.3rem;
    border: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #e44747;
    border-radius: 3.2rem;
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 5.2rem;
    outline: none;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    white-space: normal
}

._1P-qU:hover {
    color: #fff;
    text-decoration: none
}

._3pmOJ {
    margin-top: 2rem;
    margin-bottom: 2rem
}

._1Z1Li {
    position: fixed;
    z-index: 1;
    top: 12rem;
    left: 4rem;
    display: none;
    width: 34rem;
    padding: 2rem;
    border-radius: .4rem;
    font-family: HK Grotesk, sans-serif;
    font-size: 1.4rem;
    letter-spacing: .2rem;
    line-height: 3rem;
    text-align: right;
    text-transform: uppercase
}

[skinmode=dark] ._1Z1Li {
    background-color: rgba(28, 28, 28, .8)
}

[skinmode=light] ._1Z1Li {
    background-color: rgba(248, 249, 250, .8)
}

[skinmode=dark] ._1Z1Li {
    color: #fff
}

[skinmode=light] ._1Z1Li {
    color: #909bb6
}

@media only screen and (min-width:1920px) {
    ._1Z1Li {
        display: block
    }
}

@media only screen and (min-width:2560px) {
    ._1Z1Li {
        left: 35rem
    }
}

._2xEv3 {
    margin-bottom: 1rem;
    cursor: pointer
}

._2xEv3:last-of-type {
    margin-bottom: 0
}

._24eLi {
    height: 3rem;
    padding-top: .2rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: .2rem;
    transition: background-color .1s linear
}

[skinmode=dark] ._24eLi:hover {
    background-color: #282828
}

[skinmode=light] ._24eLi:hover {
    background-color: #eef3fa
}

._24eLi._2cfmx {
    font-weight: 600
}

[skinmode=dark] ._24eLi._2cfmx {
    color: #48e5c2
}

[skinmode=light] ._24eLi._2cfmx {
    color: #3983fa
}

._2KlOO {
    width: 100%
}

._3RfhZ {
    display: none;
    height: 62rem
}

@media only screen and (min-width:1920px) {
    ._3RfhZ {
        display: block
    }
}

._3029R {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-width: .1rem;
    border-style: dashed;
    border-radius: 3;
    font-size: 1.6rem
}

[skinmode=dark] ._3029R {
    background-color: #121212
}

[skinmode=light] ._3029R {
    background-color: #f2f4f9
}

[skinmode=dark] ._3029R {
    border-color: #858585
}

[skinmode=light] ._3029R {
    border-color: #949fb8
}

[skinmode=dark] ._3029R {
    color: #858585
}

[skinmode=light] ._3029R {
    color: #949fb8
}

.xsj0j {
    margin-bottom: 1.2rem
}

._2ah_K {
    position: relative;
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-top: 3em;
    padding-bottom: 3em
}

[skinmode=dark] ._2ah_K {
    background-color: #121212
}

[skinmode=light] ._2ah_K {
    background-color: #f7f8fa
}

@media only screen and (min-width:992px) {
    ._2ah_K {
        min-height: 50em;
        padding-top: 4.5em;
        padding-bottom: 4.5em
    }
}

.pZTVp {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 18%;
    max-height: 140em;
    background-position: top;
    background-size: cover;
    opacity: .6
}

@media only screen and (max-width:991px) {
    .pZTVp {
        display: none
    }
}

[skinmode=dark] .pZTVp {
    opacity: .4
}

._2ah_K:not(.vPhQL) .pZTVp {
    right: 0;
    filter: FlipH;
    transform: scaleX(-1)
}

.pZTVp:before {
    position: absolute;
    top: 0;
    right: -.1em;
    bottom: 0;
    left: 50%;
    background: linear-gradient(90deg, rgba(247, 248, 250, 0), #f7f8fa);
    content: ""
}

[skinmode=dark] .pZTVp:before {
    background: linear-gradient(90deg, rgba(18, 18, 18, 0), #121212)
}

.pZTVp:after {
    position: absolute;
    top: calc(140em - 30%);
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(247, 248, 250, 0), #f7f8fa);
    content: ""
}

[skinmode=dark] .pZTVp:after {
    background: linear-gradient(180deg, rgba(18, 18, 18, 0), #121212)
}

.mQc-W {
    position: relative;
    width: 114em;
    max-width: 100%;
    margin: 0 auto
}

@media only screen and (max-width:991px) {
    .mQc-W {
        padding-right: 3em;
        padding-left: 3em
    }
}

@media only screen and (min-width:992px) {
    .mQc-W {
        padding-right: 7em;
        padding-left: 7em
    }
}

._3-zUs {
    max-width: 114em;
    padding: 0 1.5em;
    margin: 0 auto
}

@media only screen and (min-width:992px) {
    ._3-zUs {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex;
        padding-top: 5em;
        padding-bottom: 5em
    }
}

@media only screen and (min-width:992px) and (max-width:1199px) {
    ._3-zUs {
        max-width: 96em
    }
}

._3pJeh {
    width: 25em;
    margin: 0 auto
}

@media only screen and (max-width:991px) {
    ._3u9Lq ._3pJeh {
        margin: 0 auto 3.4em
    }
}

._1-uOx {
    position: relative;
    width: 25em;
    height: 25em
}

._1-uOx img {
    width: 100%
}

@media only screen and (min-width:992px) {
    ._1m93P {
        flex: 1 1 0;
        margin-right: 20em
    }
    ._3-zUs:not(._2jSvF) ._1m93P {
        display: flex;
        flex-direction: column;
        justify-content: middle
    }
}

@media only screen and (max-width:991px) {
    ._2xNVx {
        display: flex
    }
    ._3u9Lq ._2xNVx {
        flex-direction: column-reverse
    }
    ._3-zUs:not(._3u9Lq) ._2xNVx {
        flex-direction: column;
        align-items: center
    }
}

._26mpz {
    margin: 0;
    font-size: 3em;
    font-weight: 500;
    line-height: 1.2
}

@media only screen and (max-width:991px) {
    ._26mpz {
        margin-top: .8em
    }
}

@media only screen and (min-width:992px) {
    ._26mpz {
        font-size: 6em
    }
}

._3w5Z2 {
    margin-top: 1em
}

@media only screen and (min-width:992px) {
    ._3w5Z2 {
        display: flex
    }
}

.LYbB0 {
    font-size: 1.4em;
    line-height: 1.9;
    text-transform: uppercase
}

@media only screen and (min-width:992px) {
    .LYbB0:not(:last-child) {
        margin-right: 3.2em
    }
}

@media only screen and (max-width:991px) {
    .LYbB0:not(:last-child) {
        margin-bottom: .6em
    }
}

.LYbB0 svg {
    margin: -.2em .8em 0 0;
    vertical-align: middle
}

[skinmode=dark] .LYbB0 svg {
    color: #48e5c2
}

[skinmode=light] .LYbB0 svg {
    color: #3983fa
}

._1bv13 {
    margin-left: -.2em
}

@media only screen and (min-width:992px) {
    ._1Jvfx {
        margin-top: 4em
    }
    ._2jSvF ._1Jvfx {
        display: flex;
        margin-top: 2em
    }
}

@media only screen and (max-width:991px) {
    ._1Jvfx {
        text-align: center
    }
    ._3u9Lq ._1Jvfx {
        position: absolute;
        top: 23em;
        right: 0;
        left: 0
    }
}

._23LZP {
    display: inline-block;
    padding: .2em 2em 0;
    border: 0;
    border-radius: 3.2em;
    cursor: pointer;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 2.4;
    text-decoration: none!important;
    text-transform: uppercase
}

[skinmode=dark] ._23LZP {
    background-color: #48e5c2
}

[skinmode=light] ._23LZP {
    background-color: #e44747
}

[skinmode=dark] ._23LZP {
    color: #1e1e1e
}

[skinmode=light] ._23LZP {
    color: #fff
}

[skinmode=dark] ._23LZP:hover {
    color: #1e1e1e
}

[skinmode=light] ._23LZP:hover {
    color: #fff
}

@media only screen and (max-width:991px) {
    ._3-zUs:not(._3u9Lq) ._23LZP {
        width: 100%;
        max-width: 20em;
        margin-top: 1em
    }
}

._2-5Uc {
    margin: -.2em .8em 0 0
}

@media only screen and (max-width:991px) {
    ._3-zUs:not(._3u9Lq) ._1gnoc {
        display: flex;
        flex-direction: column-reverse
    }
}

.roN9b {
    position: relative
}

@media only screen and (max-width:991px) {
    .roN9b {
        margin-top: 6em
    }
}

@media only screen and (min-width:992px) {
    .roN9b {
        margin-top: 4em
    }
}

._1_6Pw {
    position: absolute;
    top: -2em;
    right: 0
}

[skinmode=dark] ._1_6Pw {
    color: #282828
}

[skinmode=light] ._1_6Pw {
    color: #ebf0f5
}

@media only screen and (max-width:991px) {
    ._1_6Pw {
        top: -3em
    }
}

._39wby {
    position: relative;
    min-height: 2.4em;
    padding-right: 2em;
    margin: .6em auto 0;
    font-size: 2em;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5
}

@media only screen and (min-width:992px) {
    ._39wby {
        padding-right: 5em
    }
}

.RmyXl {
    margin-top: 2.4em;
    font-size: 1.4em;
    text-align: right
}

[skinmode=dark] .RmyXl {
    color: #666
}

[skinmode=light] .RmyXl {
    color: #9fa5b4
}

@media only screen and (max-width:991px) {
    ._2kzwN {
        margin: 1.5em -3em 2.4em
    }
}

._2_eUi {
    font-size: 6.2em;
    font-weight: 500;
    hyphens: auto;
    line-height: .82;
    word-wrap: break-word
}

[skinmode=dark] ._2_eUi {
    color: #2a2a2a
}

[skinmode=light] ._2_eUi {
    color: #ebf0f5
}

@media only screen and (min-width:992px) {
    ._2_eUi {
        margin-bottom: 0;
        font-size: 8em
    }
}

._1C8rA {
    padding: 3em;
    border-width: .1em;
    border-style: solid;
    border-radius: .4em
}

[skinmode=dark] ._1C8rA {
    background-color: #1e1e1e
}

[skinmode=light] ._1C8rA {
    background-color: #fff
}

[skinmode=dark] ._1C8rA {
    border-color: #262626
}

[skinmode=light] ._1C8rA {
    border-color: #d9e6f1
}

._32q_u {
    display: flex;
    width: 3.9em;
    height: 3.9em;
    align-items: center;
    justify-content: center;
    border-radius: 50%
}

[skinmode=dark] ._32q_u {
    background-color: #333
}

[skinmode=light] ._32q_u {
    background-color: #e4f0fe
}

[skinmode=dark] ._32q_u {
    color: #48e5c2
}

[skinmode=light] ._32q_u {
    color: #3983fa
}

._3P2RQ {
    display: flex;
    align-items: center
}

._3Xe-h {
    margin: 0 0 0 1em;
    font-weight: 500;
    line-height: 1.5
}

._3Xe-h,
.qV4xr {
    font-size: 1.6em
}

.qV4xr {
    margin-top: .5em
}

._2oKoS {
    margin-top: 1em;
    font-size: 1.6em
}

[skinmode=dark] ._2oKoS {
    color: #666
}

[skinmode=light] ._2oKoS {
    color: #9fa5b4
}

@media only screen and (min-width:992px) {
    .Pj-VQ {
        margin-top: 5em
    }
    ._350uR .Pj-VQ {
        text-align: right
    }
    ._350uR .bUQPs {
        padding-left: 28em
    }
    .B7IkS:not(._350uR) .bUQPs {
        padding-right: 28em
    }
}

@media only screen and (min-width:992px) {
    ._3PVnD {
        max-width: 74em
    }
}

._3PVnD:not(:last-child) {
    margin-bottom: 3em
}

._2Slba {
    margin-top: 2em
}

._120ZT {
    font-size: 1.6em
}

._1sxhZ {
    padding: 0;
    border: 0;
    margin-top: .6em;
    background: none;
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: underline
}

[skinmode=dark] ._1sxhZ {
    color: #48e5c2
}

[skinmode=light] ._1sxhZ {
    color: #3983fa
}

.BA8tz {
    display: flex;
    align-items: center;
    margin-bottom: .8em
}

.o9Dr1 {
    margin: 0 0 0 1em;
    font-weight: 500;
    line-height: 1.5
}

._3wf9y,
.o9Dr1 {
    font-size: 1.6em
}

._3wf9y {
    margin-bottom: 1em
}

._1lL20 {
    margin-bottom: .5em;
    font-size: 1.6em
}

[skinmode=dark] ._1lL20 {
    color: #666
}

[skinmode=light] ._1lL20 {
    color: #9fa5b4
}

@media only screen and (min-width:992px) {
    ._12A7- {
        margin-top: 5em
    }
    ._2C7oM ._12A7- {
        text-align: right
    }
    ._2C7oM ._3N34k {
        padding-left: 28em
    }
    ._3vPTs:not(._2C7oM) ._3N34k {
        padding-right: 28em
    }
}

@media only screen and (min-width:992px) {
    ._3wg2w {
        max-width: 74em
    }
}

._3wg2w:not(:first-child) {
    margin-top: 3em
}

._2eYwH {
    margin-top: 2em
}

.f6ZiB {
    font-size: 1.6em
}

.Gn2jW {
    padding: 0;
    border: 0;
    margin-top: .6em;
    background: none;
    font-size: 1.8em;
    font-weight: 600;
    text-decoration: underline
}

[skinmode=dark] .Gn2jW {
    color: #48e5c2
}

[skinmode=light] .Gn2jW {
    color: #3983fa
}

._3QuIE {
    display: flex;
    flex-direction: column
}

@media only screen and (min-width:992px) {
    ._3QuIE {
        flex-direction: column-reverse
    }
    ._3QuIE.XYeFn {
        align-items: flex-end
    }
}

@media only screen and (min-width:992px) {
    ._2eLrD {
        margin-top: 4em
    }
}

@media only screen and (min-width:992px) {
    ._38YsD {
        width: 74em;
        max-width: 100%
    }
}

._38YsD:not(:last-child) {
    margin-bottom: 3em
}

._2PZ3c {
    position: relative;
    display: flex;
    align-items: center;
    margin: -.4em 0
}

._18WqP {
    flex: 1;
    padding-left: 2.4em
}

@media only screen and (min-width:992px) {
    ._18WqP {
        display: flex;
        align-items: center;
        padding-left: 1.6em
    }
}

._5GmN1 {
    flex: 1;
    font-weight: 500
}

._2L9xO,
._5GmN1 {
    font-size: 1.6em
}

[skinmode=dark] ._2L9xO {
    color: #666
}

[skinmode=light] ._2L9xO {
    color: #9fa5b4
}

@media only screen and (min-width:992px) {
    ._2atqD {
        display: flex;
        flex-direction: column-reverse
    }
}

@media only screen and (min-width:992px) {
    ._3nsc1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-right: 6em
    }
}

._3UCTt {
    position: relative;
    overflow: hidden;
    margin-top: 2em
}

._3UCTt:nth-child(4n),
._3UCTt:nth-child(4n-1) {
    left: 8em
}

@media only screen and (max-width:991px) {
    ._3UCTt:nth-child(4n),
    ._3UCTt:nth-child(4n-1) {
        left: 0
    }
}

@media only screen and (min-width:992px) {
    ._3UCTt {
        width: calc(50% - 1.6em)
    }
}

._1FYIv {
    display: flex;
    align-items: center;
    padding: 0 2em;
    margin: -1.4em 0
}

.ZUgdC {
    margin-top: .1em;
    font-size: 9.6em;
    font-weight: 600
}

[skinmode=dark] .ZUgdC {
    color: #fff
}

[skinmode=light] .ZUgdC {
    color: #5b6a9a
}

._2LiuL {
    top: .6em;
    right: .1em;
    bottom: .1em;
    left: .1em;
    overflow: hidden
}

._2LiuL,
._3WPZR {
    position: absolute
}

._3WPZR {
    top: calc(50% + .04em);
    right: -.2em;
    font-size: 25em;
    font-weight: 600;
    transform: translateY(-50%);
    user-select: none
}

[skinmode=dark] ._3WPZR {
    color: hsla(0, 0%, 100%, .1)
}

[skinmode=light] ._3WPZR {
    color: #f5f6f9
}

._20Hj0 {
    position: relative;
    flex: 1;
    padding-left: 1.6em;
    font-size: 1.8em;
    font-weight: 300;
    letter-spacing: .1em;
    line-height: 1.5;
    text-transform: uppercase
}

@media only screen and (min-width:992px) {
    .sAQ63 {
        padding-right: 6em;
        margin-top: 2em;
        text-align: right
    }
    .sAQ63:not(.w9ITK) {
        position: relative;
        text-align: left
    }
}

._31O-y {
    overflow: auto;
    padding: .6em 0 2em
}

.xu8JX {
    display: flex;
    min-width: 79em
}

._2SWM8 {
    position: relative;
    flex: 1;
    line-height: 2;
    text-transform: uppercase
}

._2SWM8:nth-child(2) {
    padding-left: 1.4em
}

._2SWM8:not(:first-child) {
    border-bottom-width: .1em;
    border-bottom-style: solid;
    text-align: center
}

[skinmode=dark] ._2SWM8:not(:first-child) {
    border-bottom-color: #262626
}

[skinmode=light] ._2SWM8:not(:first-child) {
    border-bottom-color: #d9e6f1
}

._2SWM8:not(:first-child):not(:last-child) {
    border-right-width: .1em;
    border-right-style: solid
}

[skinmode=dark] ._2SWM8:not(:first-child):not(:last-child) {
    border-right-color: #262626
}

[skinmode=light] ._2SWM8:not(:first-child):not(:last-child) {
    border-right-color: #d9e6f1
}

.xu8JX:last-child ._2SWM8:not(:first-child):not(:last-child):before {
    position: absolute;
    top: 100%;
    right: -.1em;
    bottom: -1.4em;
    width: .1em;
    content: ""
}

[skinmode=dark] .xu8JX:last-child ._2SWM8:not(:first-child):not(:last-child):before {
    background-color: #262626
}

[skinmode=light] .xu8JX:last-child ._2SWM8:not(:first-child):not(:last-child):before {
    background-color: #d9e6f1
}

.xu8JX:first-child ._2SWM8 {
    padding-bottom: 1.2em
}

.xu8JX:not(:first-child) ._2SWM8 {
    display: flex;
    height: 6em;
    align-items: center
}

.xu8JX:not(:first-child) ._2SWM8:not(:first-child) {
    justify-content: center
}

._1lmKg {
    color: #e44747;
    opacity: .5
}

._1lmKg,
.W9sDF {
    vertical-align: middle
}

[skinmode=dark] .W9sDF {
    color: #48e5c2
}

[skinmode=light] .W9sDF {
    color: #3983fa
}

.zbtaS {
    font-size: 1.4em;
    letter-spacing: .02em
}

._3-Sgt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: .8em
}

[skinmode=dark] ._3-Sgt {
    color: #8e8e8e
}

[skinmode=light] ._3-Sgt {
    color: #dbe0e4
}

@media only screen and (min-width:992px) {
    ._3-Sgt {
        display: none
    }
}

._2IA_0 {
    font-size: 1.4em;
    text-transform: uppercase
}

@media only screen and (min-width:992px) {
    ._3DGo2 {
        margin-right: 6em;
        margin-bottom: 7em
    }
    ._3AQ-Y ._3DGo2 {
        margin-left: 10em
    }
    ._3DGo2 h2 {
        hyphens: none
    }
    ._1jWae {
        padding: 0 5em
    }
}

@media only screen and (min-width:992px) and (min-width:992px) and (max-width:1199px) {
    ._1jWae {
        padding: 0 2em
    }
}

._31m2T {
    position: relative
}

._1QCHI {
    margin-top: 2em
}

._1dSGN {
    margin-bottom: .5em;
    font-weight: 500;
    line-height: 1.2
}

._1_ScT,
._1dSGN {
    font-size: 1.6em
}

[skinmode=dark] ._1_ScT {
    color: #666
}

[skinmode=light] ._1_ScT {
    color: #9fa5b4
}

@media only screen and (min-width:992px) {
    ._1BWZf {
        position: relative;
        padding: 0 14em
    }
    ._2LvU9 {
        margin-top: 2em
    }
    ._3dtyz ._2LvU9 {
        text-align: right
    }
}

._2oUhr {
    position: relative
}

._2oUhr:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .6em;
    width: .1em;
    content: ""
}

[skinmode=dark] ._2oUhr:before {
    background-color: #262626
}

[skinmode=light] ._2oUhr:before {
    background-color: #d9e6f1
}

@media only screen and (min-width:992px) {
    ._2oUhr:before {
        left: calc(50% - .1em);
        width: .2em
    }
}

._3BUis {
    position: relative;
    display: flex;
    justify-content: flex-end
}

@media only screen and (min-width:992px) {
    ._3BUis:nth-child(2n-1) {
        justify-content: flex-start
    }
}

@media only screen and (max-width:991px) {
    ._3BUis {
        padding-left: 3em
    }
    ._3BUis:not(:last-child) {
        margin-bottom: 2em
    }
}

._3BUis:last-child:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: .6em;
    width: .1em;
    content: ""
}

[skinmode=dark] ._3BUis:last-child:after {
    background-color: #121212
}

[skinmode=light] ._3BUis:last-child:after {
    background-color: #f7f8fa
}

@media only screen and (min-width:992px) {
    ._3BUis:last-child:after {
        left: calc(50% - .1em);
        width: .2em
    }
}

._2YUpP {
    position: relative;
    display: flex
}

@media only screen and (max-width:991px) {
    ._2YUpP {
        flex: 1
    }
}

@media only screen and (min-width:992px) {
    ._2YUpP {
        width: 50%
    }
    ._3BUis:nth-child(2n) ._2YUpP {
        padding-left: 5em
    }
    ._3BUis:nth-child(2n-1) ._2YUpP {
        justify-content: flex-end;
        padding-right: 5em
    }
}

._2alpn {
    flex-grow: 1;
    padding: 3em;
    border-width: .1em;
    border-style: solid;
    border-radius: .4em
}

[skinmode=dark] ._2alpn {
    border-color: #262626
}

[skinmode=light] ._2alpn {
    border-color: #d9e6f1
}

@media only screen and (max-width:991px) {
    [skinmode=dark] ._2alpn {
        background-color: #1e1e1e
    }
    [skinmode=light] ._2alpn {
        background-color: #fff
    }
}

@media only screen and (min-width:992px) {
    ._2alpn {
        max-width: 35em;
        flex-basis: 35em
    }
}

.Fgd0a {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 1.6em;
    height: 1.6em;
    border-width: .4em;
    border-style: solid;
    border-radius: 50%
}

[skinmode=dark] .Fgd0a {
    border-color: #1e1e1e
}

[skinmode=light] .Fgd0a {
    border-color: #fff
}

[skinmode=dark] .Fgd0a {
    background-color: #48e5c2
}

[skinmode=light] .Fgd0a {
    background-color: #3983fa
}

@media only screen and (min-width:992px) {
    ._3BUis:nth-child(2n) .Fgd0a {
        left: -.8em
    }
    ._3BUis:nth-child(2n-1) .Fgd0a {
        right: -.8em
    }
}

@media only screen and (max-width:991px) {
    .Fgd0a {
        left: -3.1em
    }
}

@media only screen and (min-width:992px) {
    .rNa0b {
        display: flex;
        flex-direction: column-reverse
    }
    .rNa0b:not(._2DtC9) {
        margin-right: 16em
    }
    .rNa0b._2DtC9 {
        margin-left: 16em
    }
}

._37jKU {
    font-size: 2em;
    line-height: 1.4
}

@media only screen and (min-width:992px) {
    ._37jKU {
        width: 70%;
        margin-bottom: 4em
    }
}

@media only screen and (min-width:992px) {
    ._2mdW9 {
        margin-bottom: 2em
    }
    ._2NXPq ._2mdW9 {
        text-align: right
    }
}

.Dvjux {
    padding: 3em 4em
}

[skinmode=dark] .Dvjux {
    background-color: #1e1e1e
}

[skinmode=light] .Dvjux {
    background-color: hsla(0, 0%, 100%, .3)
}

@media only screen and (min-width:992px) {
    .Dvjux {
        display: flex;
        flex-wrap: wrap
    }
}

._3_QK7 {
    position: relative;
    display: flex;
    padding: 1em 2em 1em 3.4em
}

@media only screen and (min-width:992px) {
    ._3_QK7 {
        width: 33.3%
    }
}

._1_Sze {
    position: absolute;
    top: 1.4em;
    left: 0;
    width: 1.4em;
    height: 1.4em;
    border-width: .3em;
    border-style: solid;
    border-radius: 50%
}

[skinmode=dark] ._1_Sze {
    background-color: #48e5c2
}

[skinmode=light] ._1_Sze {
    background-color: #3983fa
}

[skinmode=dark] ._1_Sze {
    border-color: #1e1e1e
}

[skinmode=light] ._1_Sze {
    border-color: #fff
}

._1zDOQ {
    font-size: 1.6em
}

.b36pK {
    position: relative;
    font-family: HK Grotesk, sans-serif
}

[skinmode=dark] .b36pK {
    color: #fff
}

[skinmode=light] .b36pK {
    color: #233143
}

[skinmode=dark] .b36pK {
    background-color: #121212
}

[skinmode=light] .b36pK {
    background-color: #f7f8fa
}

.b36pK p,
.b36pK ul {
    margin-bottom: 0;
    font-size: inherit
}

.wOgsK {
    max-width: 114em;
    margin: 0 auto
}

._1kbJS {
    padding: 2em;
    border-top-width: .1em;
    border-top-style: solid;
    margin-top: 2em
}

[skinmode=dark] ._1kbJS {
    background-color: #1e1e1e
}

[skinmode=light] ._1kbJS {
    background-color: #fff
}

[skinmode=dark] ._1kbJS {
    border-color: #262626
}

[skinmode=light] ._1kbJS {
    border-color: #d9e6f1
}

._1dIcA {
    font-size: 2em;
    vertical-align: middle
}

._3lYwJ {
    display: inline-block;
    margin-left: 3em;
    font-size: 1.4em;
    text-transform: uppercase
}

._2WCJN {
    margin-top: -.3em;
    margin-right: 1em
}

[skinmode=dark] ._2WCJN {
    color: #48e5c2
}

[skinmode=light] ._2WCJN {
    color: #3983fa
}